/* RESET CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}
a {
    text-decoration: none;
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

#visit {
    height: 70px;
    width: 70px;
    font-weight: bold;
    background-color: rgb(224, 232, 102);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 2%;
    color: rbg(104, 105, 88);
    bottom: 5.6%;
    position: fixed;
    z-index: 200;
    box-shadow: 1px 1px 10px #888888;
}
#visit:hover {
    cursor: pointer;
}
.text.visitor {
    bottom: 8.5%;
}
.text.count {
    bottom: 11.6%;
}
#visit .text {
    position: fixed;
}
/* Begin Header */
#header {
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100px;
    display: flex;
    z-index: 2;
    position: fixed;
    /* justify-content: space-evenly; */
}
#shop-logo {
    flex: 2;
}
.sub-header {
    flex: 1;
    height: 100%;
}
.sub-header-icon:hover {
    background-color: orange;
    cursor: pointer;
}
.sub-header-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sub-header-icon img {
    width: 50%;
    height: 50%;
}

.sub-header.contact:hover, .sub-header.cart:hover {
    color: white;
    cursor: pointer;
}
.sub-header.contact {
    color: #999;
    font-weight: bold;
    padding-top: 40px;
    transform: translateX(120px)
}
.sub-header.cart {
    font-size: 20px;
    color: #999;
    padding-top: 40px;
    transform: translateX(75px)
}
.sub-header-icon {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-header-text {
    margin-top: 5%;
    color: white;
}
#shop-logo {
    display: flex;
    align-items: center;
}
#shop-logo img {
    height: 100%;
    background-color: black;
    transform: translateX(50px);
}
/* End Header */
/* Begin body */
#body {
    position: relative;
    height: 1000px;
    transform: translateY(100px)
}

/* Begin Tabs UI */

.tabs {
    display: flex;
    position: relative;
}
.tab-item img {
    transform: translateY(50%);
    width: 50px;
}
.tab-item {
    height: 100px;
    width: calc(100% / 7);
    text-align: center;
}
.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #aaa;
    transition: all 0.2s ease;
  }
  .tab-item:hover {
    opacity: 1;
    background-color: rgba(103, 91, 95, 0.1);
    border-color: rgba(194, 53, 100, 0.1);
    cursor: pointer;
  }
  .tab-pane {
    color: #333;
    display: none;
  }
  .tab-pane.active {
    display: block;
  }
.tab-pane-header {
    text-align: center;
}

.tab-item.active {
    opacity: 1;
 }
.tab-item .asus {
    width: 100px;
    transform: translateY(39%);
  }
.tab-item .acer {
    width: 100px;
}
.tab-item .lenovo, .tab-item .samsung {
    width: 100px;
    transform: translateY(100%);
}
.tab-item .apple {
    transform: translateY(40%);
}
.tab-content {
    line-height: 1.6;
}
.tab-content h1 {
    color: black;
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 40px;
}
.tab-content p {
    color: #5a5a5a
}
.product {
    display: inline-block;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 13px;
    padding: 50px 50px 20px 50px;
}
.buy-btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: white;
    background-color: orange;
}
.buy-btn:hover {
     cursor: pointer;
     background-color: #fb6e2e;
}
.product-image {
    width: 319px;
}
.product-container {
    overflow: auto;
    white-space: nowrap;
}
.tab-pane-header img {
    width: 100%;
}
.intro img {
    width: 100%;
    margin-top: 100px;
}
/* End Tabs UI */

/* End Body */

/* Begin Footer */

#footer {
    height: 240px;
    width: 100%;
    background-color: black;
    margin-top: 4500px;
    color: #999;
    line-height: 1.6;
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
}
.tel {
    display: block;
    width: 285px;
    font-size: 20px;
    color: #FF066A;
    padding: 10px 10px;
    border: 1px solid #999;
}

/* End Footer */

/* Begin Buy Sector */
.buy-sector {
    display: none;
    position: fixed;
    width: 1264px;
    height: 5299px;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
}
.buy-container {
    position: relative;
    width: 404px;
    height: 434px;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    margin-top: 125px;
    padding: 10px 20px 30px;
    line-height: 1.6;
}
.close-btn {
    position: absolute;
    top: 0;
    right: 0;
}
.product-detail {
    margin-top: 8px;
}
.order-btn {
    display: block;
    overflow: hidden;
    padding: 14px;
    color: #fff;
    text-transform: uppercase;
    background: linear-gradient(180deg, #f79429 0%, #f7712e 100%);
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 600;
    text-align: center;
    margin: auto;
    cursor: pointer;
}
.product-price {
    display: block;
    width: 100%;
    color: #F30C28;
    border-bottom: 1px solid #999;
    padding-bottom: 8px;
}
.quantity-picker {
    border-bottom: 1px solid #999;
    padding-bottom: 8px;
    display: flex;
}
.number, .minus, .plus {
    border: 1px solid #999;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 2.7px;
    
}
.close-btn {
    padding: 0px 16px;
    font-size: 30px;    
}
.minus:hover {
    cursor: pointer;
}
.plus:hover {
    cursor: pointer;
}
.close-btn:hover {
    cursor: pointer;
}
.quantity-picker p {
    margin-right: 10px;
}
form {
    margin: 16px 0;
}
#black-label {
    margin-right: 16px;
}
.promotion {
    margin-top: 16px;
    margin-left: 15px;
    margin-bottom: 20px;
}
/* End Buy Sector */